.hero-root {
  background: linear-gradient(
      rgba(255, 255, 255, 0.02),
      rgba(255, 255, 255, 0.02)
    ),
    url('../assets/mountainHeroPhoto1.jpg') no-repeat center center/cover;
  /* background: url('../assets/mountainHeroPhoto1.jpg') no-repeat center center/cover; */
  padding: 100px 0;
  text-align: center;
  position: relative;
  height: 30rem;
}

.hero-content {
  z-index: 1;
  position: relative;
}

.hero-title {
  font-weight: 700;
  color: #2e3b4e;
}

.hero-subtitle {
  color: #4f5b62;
  max-width: 800px;
  margin: 0 auto 30px;
}

.hero-button {
  background-color: #2e7d32;
  color: white;
  padding: 12px 30px;
  font-size: 16px;
  border-radius: 8px;
  text-transform: none;
}

.hero-button:hover {
  background-color: #1b5e20;
}
